<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <section class="categories-list">

        <% categories.forEach((category) => { %>

            <article class="category-card">
                <h2><%= category.category_name %></h2>
            </article>

        <% }) %>

    </section>
</main>

<%- include('partials/footer') %>