<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Here are a few of our partner organizations:</p>
    <ul>
        <li><img src="/images/brightfuture-logo.png"> BrightFuture Builders</li>
        <li><img src="/images/greenharvest-logo.png"> GreenHarvest Growers</li>
        <li><img src="/images/unityserve-logo.png"> UnityServe Volunteers</li>
    </ul>
</main>

<%- include('partials/footer') %>