<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Upcoming Service Projects</h2>
    <ul>
        <li>Park Cleanup</li>
        <li>Food Drive</li>
        <li>Community Tutoring</li>
    </ul>
</main>

<%- include('partials/footer') %>